<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<title>My Profile</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<style>
body {
    padding-top: 60px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.alert-debug {
  background-color: #eeeeee;
  border-color: #eeeeee;
  color: #333;
}
</style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'blog:index' %}">Home</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "blog:post_list" %}" >Post List</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "blog:post_new" %}">New Post</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/accounts/login" >로그인</a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="/accounts/signup" >회원가입</a>
        </div>
    </div>
</div>

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class='alert alert-{{message.tags}}'>
        {{message}}
      </div>
    {% endfor %}
  {% endif %}


    {%block content%}
    
    {%endblock%}
</div>


<div class="footer">
    <div class="container">
        <p class="text-muted"style="text-align:right" >Copyright @ P.rogramming 4th</p>
    </div>
</div>

</body>
</html>